{% extends 'home.html' %}
{% load static %}   

{% block main %}

<!-- Breadcumbs start -->
<div class="e-breadcumb-wrap text-center">
    <h2 class="e-breadcumb-title">سبد خرید </h2>
    <ul class="e-breadcumb-kist">
        <li>
            <a href="{% url 'home' %}">خانه </a>
        </li>
        <li>
            <a href=''> صفحات </a>
        </li>
        <li>
            <a href=''>سبد خرید  </a>
        </li>
    </ul>
</div>
<!-- Product Category start -->
<section class="e-shopcart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-12">
                <div class="e-shopcart-sec">                    
                    <div class="shopcart-table-wrap mb-30">
                        <form class="table-responsive">
                            <table class="shopcart-table">
                                <thead>
                                  <tr>
                                    <th>محصول </th>
                                    <th>رنگ</th>
                                    <th>تعداد </th>
                                    <th>موجودی </th>
                                    <th>قیمت </th>
                                    <th>قیمت جمع </th>
                                    <th>&nbsp;</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for key,elm in show.items %}
                  
                                  <tr>
                                    <td>
                                        <div class="sc-productwrap">
                                            <a href="" class="sc-product-thumb">
                                                
                                                <img src='{{elm.img}}' alt="محصول" class="img-fluid">
                                                
                                            </a>
                                            <div class="sc-product-details">
                                                <a href="{% url 'product:detailproduct' elm.id %}" class="sc-product-ttl">{{elm.name}}</a>
                                                {% if elm.سایزلباس %}
                                                <p class="sc-product-sz">اندازه: {{elm.سایزلباس}} </p>
                                                {% endif %}
                                                
                                            </div>
                                        </div>      
                                    </td>
                                    <td>
                                        <div>
                                            {% if elm.color %}
                                            <h6>{{elm.color}}</h6>
                                            {% else %}
                                            <h5>-</h5>
                                            {% endif %}

                                        </div>

                                    </td>
                                    <td> 
                                        <div >
                                            <h6 class="quantity">{{elm.count}}</h6>
                                            {% comment %} <input type="text" class="quantity" value="{{elm.count}}">{% endcomment %}
                                            {% comment %} <span class="quantity-minus pa-sub quantity-icon"> - </span>                                                
                                            <span class="quantity-plus  pa-add quantity-icon"> + </span> {% endcomment %} 
                                        </div>
                                    </td>
                                    {% if elm.status %}
                                    <td><span class="sc-product-prc">موجود است</span> </td>
                                    <td><span class="sc-product-prc">{{elm.price}} تومان</span></td> 
                                    <td><span class="sc-product-prc">{{elm.price_total}}</span></td>
                                    {% else %}
                                    <td><span class="sc-product-prc">موجود نیست</span> </td>
                                    <td><span class="sc-product-prc">-</span></td> 
                                    <td><span class="sc-product-prc">-</span></td>
                                    {% endif %}
                                    <td>
                                        <a href='{% url "cart:delete-cart" elm.detect %}' class="sc-produc-remove e-remove-product">
                                            <img src='{% static "assets/images/index1/svg/cut.svg"%}' alt="icon">
                                        </a>
                                    </td>
                                  </tr>                                                                  
                                  {% endfor %}
                                     
                                </tbody>
                              </table>
                        </form>
                    </div>
                    <div class="shopcart-bottom mb-30">
                        <ul class="shopcart-dis-list">
 
                            <li>                                
                                <a href='' class="e-btn black update-cart">بروز رسانی سبد </a>
                            </li>
                        </ul>
                    </div> 
                </div>                      
            </div>            
            <div class="col-xl-3 col-lg-12">
                <div class="e-shopcart-sidebar">
                    <div class="e-totalsumry mb-30">
                        <div class="e-totalsumry-header">
                            <h2 class="e-totalsumry-ttl">خلاصه مجموع سبد خرید</h2>
                        </div>
                        <div class="e-totalsumry-body">
                            <ul class="e-totalsumry-list">
                                <li>
                                    <span class="ts-list-head">مجموع سبد:</span>
                                    <span class="ts-list-shead">{{price_total}} تومان</span>
                                </li>
                               <li>
                                    <span class="ts-list-head">حمل و نقل: </span>
                                    <span class="ts-list-shead">- تومان</span>
                                </li>
                            </ul>
                            <!-- <a href='{%static "javascript:void(0);" %}' class="ts-chngadd">Change Address
                                <img src='{% static "assets/images/index1/svg/edit.svg"%}' alt="edit">
                            </a> -->
                        </div>  
                        <div class="e-totalsumry-fotr">
                            <ul class="e-totalsumry-list total">
                                <li>
                                    <span class="ts-list-head">گراند توتال</span>
                                    <span class="ts-list-shead">{{price_total}} تومان</span>
                                </li>
                            </ul>
                        </div>  
                    </div> 
                    <a href="{% url 'payment:payment_start' price_total %}" class="e-btn">پرداخت صورتحساب </a>
                </div>                      
            </div>            
        </div>
    </div>
</section>
{% endblock main %}
