{% extends 'home.html' %}
{%load static %}

{% block main %}
<!-- Breadcumbs start -->
<div class="e-breadcumb-wrap text-center">
    <h2 class="e-breadcumb-title">فراموشی رمز عبور</h2>
    <ul class="e-breadcumb-kist">
        <li>
            <a href="index.html">خانه </a>
        </li>
        <li>
            <a href='{%static "javascript:void(0);" %}'> فراموشی رمز عبور</a>
        </li>
    </ul>
</div>
<!-- Product Category start -->
<div class="e-forgotpassword-wrap e-forgotpassword-cloth">
    <div class="container">
        <div class="row">
            <div class="col-12">                   
                <div class="e-fp-box">
                    <form>
                        <div class="row">                                        
                            <div class="col-md-12">  
                                <p class="mb-20">رمز عبور خود را فراموش کرده اید؟ لطفا نام کاربری یا آدرس ایمیل خود را وارد نمایید. پیوندی برای ایجاد گذرواژه جدید از طریق ایمیل دریافت خواهید کرد.</p>
                            </div>                                     
                            <div class="col-md-12">                                       
                                <div class="e-form-field mb-20">
                                    <label>ایمیل یا نام کاربری </label>
                                    <input class="e-field-inner" type="email">
                                </div>
                            </div>
                            <div class="col-md-12">                                       
                                <div class="e-form-field mb-20">
                                    <label>رمز عبور </label>
                                    <input class="e-field-inner" type="Password">
                                </div>
                            </div> 
                            <div class="col-md-12">                                       
                                <div class="">
                                    <a href='{%static "javascript:void(0);" %}' class="e-btn">بازیابی رمز عبور</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>        
            </div>           
        </div>
    </div>
</div>
{% endblock main %}
