{% extends 'home.html' %}
{%load static %}

{% block main %}
<!-- Breadcumbs start -->
<div class="e-breadcumb-wrap text-center">
    <h2 class="e-breadcumb-title">ورود به حساب کاربری</h2>
    <ul class="e-breadcumb-kist">
        <li>
            <a href="{% url 'home' %}">خانه </a>
        </li>
        <li>
            <a href='{%static "javascript:void(0);" %}'> ورود به حساب کاربری</a>
        </li>
    </ul>
</div>
<!-- Product Category start -->
<div class="e-forgotpassword-wrap e-forgotpassword-cloth">
    <div class="container">
        <div class="row">
            <div class="col-12">                   
                <div class="e-fp-box">
                    <form action="{% url 'user:login' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">                                        
                            {{login_form}}
                        </div>
                            <div class="col-md-12">                                       
                                <div class="e-form-field mb-20">
                                    <ul class="e-rememberforgot-list">
                                        <li>
                                            <div class="e-checkbox-wrap">
                                                <input class="e-checkbox-input" type="checkbox" id="remember_me">
                                                <label for="remember_me" class="e-checkbox">مرا به خاطر بسپار </label>
                                            </div>
                                        </li>
                                        <li><a href="forgot_password.html" class="e-comn-link">فراموشی رمز عبور؟ </a></li>
                                    </ul>                                            
                                </div>
                            </div> 
                            <div class="col-md-12">                                       
                                <div class="">
                                    <button class="e-btn" style="margin-top: 10px;"> ورود </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>        
            </div>           
        </div>
    </div>
</div>
{% endblock main %}
