
{%load static %}



<!-- sidebar cart start -->
<div class="sb-cartbox">
    <div class="sb-cartbox-inner">
        <div class="sb-cartbox-header text-center">
            <h4 class="sb-cb-ttl">سبد خرید </h4>
            <p class="sb-cb-subttl"> کالای خود را در سبد خرید خود داشته باشید</p>
            <a href='#' class="sb-cb-close close-box">بستن </a>
        </div> 
        <div class="sb-cartbox-body">
            <ul class="sb-cartbox-list">
                {% for elm in show  %}
                <li>
                    <div class="sc-productwrap">
                        <a href="#" class="sc-product-thumb">
                            {% if elm.img %}
                            <img src='{{elm.img}}' alt="محصول" class="img-fluid">
                            {% endif %}
                        </a>
                        <div class="sc-product-details">
                            <a href="#" class="sc-product-ttl">{{elm.name}}</a>
                            {% if elm.size %}
                            <p class="sc-product-sz">اندازه: {{elm.size}} </p>
                            {% endif %}
                        </div>
                    </div> 
                    <div class="sc-quantity">
                        {{elm.count}}X <span class="sc-price"> {{elm.price}} تومان</span>                                                                
                    </div>
                    <a href='#' class="sc-produc-remove">
                        <img src="assets/images/index1/svg/cut.svg" alt="icon">
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div> 
        <div class="sb-cartbox-footer">
            <div class="sb-cartbox-total">
                <strong>مجموع سبد:</strong>
                <span class="sb-cartbox-amount">859000 تومان</span>
            </div>
            <div class="sb-cartbox-btn">
                <a href="cart.html" class="e-btn">سبد خرید </a>
                <a href="shipping_cart.html" class="e-btn">پرداخت </a>
            </div>
        </div> 
    </div>   
</div>
