{% load static %}
<!-- sidebar cart start -->
<div class="sb-cartbox">
    <div class="sb-cartbox-inner">
        <div class="sb-cartbox-header text-center">
            <h4 class="sb-cb-ttl">سبد خرید  ( 5 )</h4>
            <p class="sb-cb-subttl">5 کالای خود را در سبد خرید خود داشته باشید</p>
            <a href='#' class="sb-cb-close close-box">بستن </a>
        </div> 
        <div class="sb-cartbox-body">
            <ul class="sb-cartbox-list">
                <li>
                    <div class="sc-productwrap">
                        <a href="#" class="sc-product-thumb">
                            <img src='{% static "assets/images/index1/shopcart01.jpg"%}' alt="محصول" class="img-fluid">
                        </a>
                        <div class="sc-product-details">
                            <a href="#" class="sc-product-ttl">کت کلاه دار خاکستری مشکی</a>
                            <p class="sc-product-sz">اندازه: متوسط </p>
                        </div>
                    </div> 
                    <div class="sc-quantity">
                        1X <span class="sc-price"> 120000 تومان</span>                                                                
                    </div>
                    <a href='#' class="sc-produc-remove">
                        <img src='{% static "assets/images/index1/svg/cut.svg" %}'alt="icon">
                    </a>
                </li>
                <li>
                    <div class="sc-productwrap">
                        <a href="product_details.html" class="sc-product-thumb">
                            <img src='{% static "assets/images/index1/shopcart02.jpg"%}' alt="محصول" class="img-fluid">
                        </a>
                        <div class="sc-product-details">
                            <a href="product_details.html" class="sc-product-ttl">کت بچه دار زرد</a>
                            <p class="sc-product-sz">اندازه: متوسط </p>
                        </div>
                    </div> 
                    <div class="sc-quantity">
                        1X <span class="sc-price"> 860000 تومان</span>                                                                
                    </div>
                    <a href='#' class="sc-produc-remove">
                        <img src='{% static "assets/images/index1/svg/cut.svg"%}' alt="icon">
                    </a>
                </li>
                <li>
                    <div class="sc-productwrap">
                        <a href="product_details.html" class="sc-product-thumb">
                            <img src='{% static "assets/images/index1/shopcart03.jpg"%}' alt="محصول" class="img-fluid">
                        </a>
                        <div class="sc-product-details">
                            <a href="product_details.html" class="sc-product-ttl">کت بچه دار زرد</a>
                            <p class="sc-product-sz">اندازه: متوسط </p>
                        </div>
                    </div> 
                    <div class="sc-quantity">
                        1X <span class="sc-price"> 190000 تومان</span>                                                                
                    </div>
                    <a href='#' class="sc-produc-remove">
                        <img src='{% static "assets/images/index1/svg/cut.svg"%}' alt="icon">
                    </a>
                </li>
                <li>
                    <div class="sc-productwrap">
                        <a href="product_details.html" class="sc-product-thumb">
                            <img src='{% static "assets/images/index1/shopcart04.jpg"%}' alt="محصول" class="img-fluid">
                        </a>
                        <div class="sc-product-details">
                            <a href="product_details.html" class="sc-product-ttl">کت بمب افکن سیاه</a>
                            <p class="sc-product-sz">اندازه: متوسط </p>
                        </div>
                    </div> 
                    <div class="sc-quantity">
                        1X <span class="sc-price"> 29000 تومان</span>                                                                
                    </div>
                    <a href='{%static "javascript:void(0);" %}' class="sc-produc-remove">
                        <img src='{% static "assets/images/index1/svg/cut.svg"%}' alt="icon">
                    </a>
                </li>
                <li>
                    <div class="sc-productwrap">
                        <a href="product_details.html" class="sc-product-thumb">
                            <img src='{% static "assets/images/index1/shopcart05.jpg"%}' alt="محصول" class="img-fluid">
                        </a>
                        <div class="sc-product-details">
                            <a href="product_details.html" class="sc-product-ttl">ژاکت بادکنک آستین کامل</a>
                            <p class="sc-product-sz">اندازه: متوسط </p>
                        </div>
                    </div> 
                    <div class="sc-quantity">
                        1X <span class="sc-price"> 320000 تومان</span>                                                                
                    </div>
                    <a href='#' class="sc-produc-remove">
                        <img src='{% static "assets/images/index1/svg/cut.svg"%}' alt="icon">
                    </a>
                </li>
            </ul>
        </div> 
        <div class="sb-cartbox-footer">
            <div class="sb-cartbox-total">
                <strong>مجموع سبد:</strong>
                <span class="sb-cartbox-amount">859000 تومان</span>
            </div>
            <div class="sb-cartbox-btn">
                <a href="cart.html" class="e-btn">سبد خرید </a>
                <a href="shipping_cart.html" class="e-btn">پرداخت </a>
            </div>
        </div> 
    </div>   
</div>